# Nix-specific
/result*
/result
/.direnv/
/flake.lock

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
dist/
build/
*.egg-info/

# Editor files
.vscode/
.idea/

test.py


.vscode/
*.code-workspace
